:root {
    --primary-blue : hsl(223, 87%, 63%);
    --secondary-pale-blue: hsl(223, 100%, 88%);
    --secondayr-light-red: hsl(354, 100%, 66%);
    --neutral-gray: hsl(0, 0%, 59%);
    --neutral-very-dark-blue: hsl(209, 33%, 12%);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
}

body, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
ul, 
li, button {    
    margin: 0; 
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 81px 37px 0 37px;
    gap: 36px;
}

.img-container {
    position: relative;
    margin-left: -9px;
    margin-right: -9px;
}

.img-container img {
    width: 100%;
}

#logo {
    max-width: 56px;
    margin: 0 auto;
}

.page-title, .page-subtitle {
    font-weight: 400;
    color: var(--neutral-gray);
    padding: 15px 0;
}

.page-subtitle {
    color: var(--neutral-very-dark-blue);
}


.page-title span {
    font-weight: 700;
    color: var(--neutral-very-dark-blue);
    
}

.input-group {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding: 16px 11px;
    padding-right: 0;
}

.email-input {
    border: 1px solid var(--secondary-pale-blue);
    padding: 10px 0 10px 32px;
    border-radius: 28px;
    color: var(--neutral-very-dark-blue);
    width: 100%;
    transition: border .1s ease-in-out;
}

.email-input::placeholder {
    color: var(--secondary-pale-blue);
}

.btn {
    border: 0;
    border-radius: 28px;
    background: var(--primary-blue);
    font-weight: 600;
    color: #fff;
    box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.230414);
    cursor: pointer;
    transition: all .3s ease-in-out;
    height: 56px;
}

.btn:hover {
    background: var(--secondary-pale-blue);
}

.error-msg {
    color: var(--secondayr-light-red);
    font-size: 10px;
    font-style: italic;
    opacity: 0;
    transition: all .1s ease-in-out;
}

.show-msg{
    opacity: 1;
    padding: 10px 0 20px 0;
}


.red-border {
    border: 1px solid var(--secondayr-light-red);
}


.icons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}

.icons-container span {
    border: 1px solid var(--secondary-pale-blue);
    border-radius: 50%;
    font-size: 16px;
    padding: 6px 9px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.icons-container a {
    color: var(--primary-blue);
}

.icons-container span:hover > a{
    color: #fff;
}

.icons-container a:active, .icons-container a:visited {
    color: var(--primary-blue);
}


.icons-container span:hover {
    border: none;
    background: var(--primary-blue);
    
}


footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 5px;
    color: var(--neutral-gray);
}

footer .copyright {
    font-size: 11px;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: var(--secondayr-light-red); }



/*=========== Desktop Style =======================*/

@media screen and (min-width: 1024px) {
    body {
        display: flex;
        align-content: center;
        justify-content: center;
    }


    .container {
        width: 100%;
        max-width: 640px;
        gap: 10px;
    }

    form{
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        align-content: center;
        justify-content: center;
        gap: 16px;
    }

    .input-group {
        flex-direction: row;
    }


    .email-input {
        padding: 18px 0;
        padding-left: 32px;
    }

    .btn {
        flex-grow: 2;
    }

    .email-input-group{
        flex-grow: 4;
    }

    .error-msg {
        text-align: left;
        padding-top: 10px;
        padding-left: 32px;
    }


}